html {
  background-color: teal;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.logo {
  font-size: 9em;
  color: white;
  font-family: "Courier New";
  font-weight: bold;
}
